body {
  font-family: 'Open Sans', sans-serif;

  min-height: 100vh;
  margin: 0 auto;

  color: #fff;
  background-color: #2C2B3D;
}

.page {
  margin: 0 auto;
  padding-top: 71px;
  width: 1092px;
}

header nav {
  width: 1092px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}

a {
  text-decoration: none;

  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  color: #FFF
}

a:hover {
 color: #00BFA6;
}

main {
  margin-top: 109px;
  margin-bottom: 157px;
  display: flex;
  gap: 77px ;
}

section h1 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 59px;
}

span {
  color: #00BFA6
}

section p {
  color: #C2C2C2;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.line {
  width: 568px;
  border: 1px solid #00BFA6;
  margin: 0 auto;
}

footer p {
  color: #FFF;
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  margin: 27px 0 23px 0;
}


#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
